src/com/thu/simillarity/RottenTomatoesJavaObjectCode/RottenTomatoesMovies_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="rottentomatoes.com">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="RottenTomatoes" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Title"/>
              <xs:element type="xs:string" name="ReleaseDate"/>
              <xs:element type="xs:string" name="Duration"/>
              <xs:element type="xs:string" name="StoryLine"/>
              <xs:element type="xs:string" name="Rating"/>
              <xs:element name="Genres" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Genre" maxOccurs="unbounded" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Actors">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="actor" maxOccurs="unbounded" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Directors" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Director" maxOccurs="unbounded" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Reviews">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Review" maxOccurs="unbounded" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>